.signup-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
  
  form h2 {
    align-self: center;
  }
  
  form button {
    align-self: flex-end;
  }
  
  form input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
  }
  
  form input:focus {
    border-color: #007BFF;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    outline: none;
  }
  
  p {
    margin-top: 20px;
  }
  
  p span {
    color: blue;
    cursor: pointer;
  }
  