.tweet{
    display: flex;
    align-items: start;
    gap: 20px;
    justify-content: start ;
    border: 1px solid #898989;
    padding: 10px;
    border-radius: 4px;
}
.user-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #cdc6c6;
    text-align: center;
     font-size: 18px;
     padding: 12px;
    width: 10px;
    height: 10px;
    border-radius: 50px;
}
/* .tweet-content{

} */

h3{
    margin: 0;
}