
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
   
}
section{
    display: flex;
    flex-direction: column;
    margin: 2rem auto;
    gap: 10px;
    width: 100%; 
    max-width: 548px; 

}

.textarea{
    width: 100%;
    padding: 10px;
    font-size: 16px;
    font-family: Arial, sans-serif;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    box-sizing: border-box;
    resize: vertical; 
    transition: border-color 0.3s, box-shadow 0.3s;
}
.tweets{
    display: flex;
    flex-direction: column;
    gap: 10px;
}  
button{
    float: right;
}

